@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Inter:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    padding-top: 70px; 
}

.container {
    width: 100%;
    height: 70px;
    background-color: #281822;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

    .container h1 {
        font-family: 'Fraunces', serif;
        color: #F8F8F8;
        font-size: 35px;
        margin: 0;
    }

    .direita {
        display: flex;
        gap: 25px;
    } 

    .direita a {
        color: #F8F8F8 !important;    
        text-decoration: none;         
        font-family: 'Inter', sans-serif;
        font-weight: 400; 
        font-size: 18px;
        transition: 0.3s;
    }

    .direita a:hover {
        color: #E6DADA !important;    
    }

.container2{
    width: 100%;
    height: 160px;
    background-color: #E6DADA;       
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 1000;
}

    .busca {
        width: 100%;
        max-width: 700px; 
        text-align: center;
        margin-top: 50px; 
    }

    .busca h2 {
        font-family: 'Fraunces', serif;
        color: #281822;
        margin-bottom: 25px;
        font-size: 32px;
    }

    .barra{
        display: flex;
        background-color: white;
        padding: 5px;
        border-radius: 50px; 
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
        border: 1px solid #ddd;
    }

    .barra input {
        flex: 1; 
        border: none;
        padding: 15px 25px;
        border-radius: 50px;
        outline: none; 
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }

    .barra button {
        background-color: #281822;
        color: white;
        border: none;
        padding: 10px 30px;
        border-radius: 50px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        transition: 0.3s;
    }

    .barra button:hover {
        background-color: #452a3a;
    }

    p{
        font-family: 'Fraunces';
        font-size: 30px;
        font-weight: 400;
        color:#281822;
        text-align: center;
        margin: 40px 0;
    }

    .Cbotão{
        text-align: center;
        margin: 40px 40px;
    }

    .botão{
        display: inline-block;
        padding: 12px 35px;
        background-color: #281822;
        border-radius: 20px;
        color: #F8F8F8 !important;    
        text-decoration: none;         
        font-family: 'Inter', sans-serif;
        font-weight: 500; 
        font-size: 20px;
        transition: 0.3s;
    }
    .botão:hover {
        color: #E6DADA !important;    
    }

    .albuns{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 40px 0;
        border-radius: 8px;
    }

    p{
        font-family: 'Fraunces';
        font-size: 30px;
        font-weight: 400;
        color:#281822;
        text-align: center;
        margin: 40px 20px;
        margin-bottom: 60px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

    h2{
        font-family: 'Outfit', sans-serif;
        font-weight: 550;
        color:#281822;
        font-size: 18px;
        padding: 0 40px;
    }

    hr{
        width: 96%;
        height: 1.5px;
        border: none;
        background-color: #281822;
        opacity: 0.3;
    }

    .avaliações {
    text-align: center;
    padding: 20px;
    }

    .rodape {
        width: 100%;
        height: 180px;
        background-color: #281822;
        display: flex;
        flex-direction: row;   
        align-items: center;  
        justify-content: space-between;   
        padding: 0 40px;             
        box-sizing: border-box;    
        margin-top: 60px;
    }
    
    .esquerdo{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .redes{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
    }

    .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color:#F8F8F8;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        text-decoration: none;
    }

    .item img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1); 
    }

    .conteúdo p {
        font-family: 'Fraunces';
        font-size: 15px;
        color: #F8F8F8;
        margin: 0! important;      
        text-align: left; 
    }

    .links {
        display: flex;
        gap: 25px;    
        margin-top: 20px;             
        margin-bottom: 90px;
        margin: 0;        
    }

    .links a {
        color: #F8F8F8 !important;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin: 0;                 
        line-height: 1;            
    }
